[Unit]
Description={{ inventory_hostname }} - {{ current_backup.name }} prune

[Timer]
{% if current_backup.prune_systemd_timers.custom | d(backup_restic_default_prune_systemd_timers_custom) %}
OnCalendar={{ current_backup.prune_systemd_timers.custom | d(backup_restic_default_prune_systemd_timers_custom) }}
{% else %}
OnCalendar={{ current_backup.prune_systemd_timers.weekday | d(backup_restic_default_prune_systemd_timers_weekday) }} {{ current_backup.prune_systemd_timers.year | d(backup_restic_default_prune_systemd_timers_year) }}-{{ current_backup.prune_systemd_timers.month | d(backup_restic_default_prune_systemd_timers_month) }}-{{ current_backup.prune_systemd_timers.day | d(backup_restic_default_prune_systemd_timers_day) }} {{ current_backup.prune_systemd_timers.hour | d(backup_restic_default_prune_systemd_timers_hour) }}:{{ current_backup.prune_systemd_timers.minute | d(backup_restic_default_prune_systemd_timers_minute) }}:{{ current_backup.prune_systemd_timers.second | d(backup_restic_default_prune_systemd_timers_second) }}
{% endif %}
Persistent=yes
Unit=restic-prune-{{ inventory_hostname }}-{{ current_backup.name }}.service

[Install]
WantedBy=multi-user.target
